<%= form_for size do |f| %>
  <%= f.hidden_field(:active, :value => 1) %>
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="large-5 medium-5 small-11 columns">
          <%= f.text_field :name, 'placeholder' => 'New Size' %>
        </div>
        <div class="small-1 columns">
          <%= f.button raw('<i class="fa fa-floppy-o"></i>'), 'class'=>'button info postfix' %>
        </div>
        <div class="small-1 columns">
          <% if size.persisted? then %>
            <%= link_to raw('<i class="fa fa-times"></i>'), size, method: :delete, 'class'=>'button alert postfix' %>
          <% end %>
        </div>
        <div class="large-5 medium-6 small-0 columns"></div>
      </div>
    </div>
  </div>
  <%= render partial: "shared/new_link", locals: {obj: @size, show: @size.persisted? } %>
  <% allSizes.each do |s| %>
  <div class="row">
    <div class="small-2 columns"><%= link_to raw('<i class="fa fa-caret-square-o-up"></i>'), size_path(s, :sort_order => s.sort_order - 1), :method => :put %> <%= link_to raw('<i class="fa fa-caret-square-o-down"></i>'), size_path(s, :sort_order => s.sort_order + 1), :method => :put %> <%= s.sort_order %></div>
    <div class="small-10 columns">
      <%= link_to raw('<i class="fa fa-pencil-square-o"></i>' + s.name), edit_size_path(s) %></a>
    </div>
  </div>
  <% end %>
<% end %>
