  <%= render partial: "shared/header", locals: {obj: nil, name: @printer.name + " Inventory: " + @base_good.name} %>
  <div class="row">
    <div class="small-5 columns"><strong>Name</strong></div>
    <div class="small-5 columns"><strong>Contact Email</strong></div>
    <div class="small-2 columns"></div>
  </div>
